
body {
	color: #9932CC;
	background: #C9C5CB;
	margin-left:50px;
	text-align: left;
	    }
h1 {
	Text-align: center;
			}
h2 {
	Text-align: center;
			}
.me {
				text-align: center;
			}
